* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: antiquewhite;
}

.container,
header {
  margin: 0 40px;
  padding: 20px;
}

.inputBox {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #c2c9;
  align-items: center;
  width: 80%;
  margin-bottom: 10px;
}

.newInput {
  padding: 5px;
  margin: 2px;
  gap: 10px;
 }

.arrow {
  opacity: 1;
  pointer-events: none;
  color: blue;
}

#input{
  height: 40px;
  margin: 10px 15px;
}